<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<h2>Profile</h2>
<div>
    <div class="form-group">
        <button [disabled]="loading" (click)="editProfile()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Edit Profile
        </button>
    </div>
    <label for="email">Email</label>
        <div name="email">{{email}}</div>
    <label for="fName" *ngIf="showIfIndividual">First Name</label>
        <div *ngIf="showIfIndividual" name="fName">{{fName}}</div>
    <label for="lName" *ngIf="showIfIndividual">Last Name</label>
        <div *ngIf="showIfIndividual" name="lName">{{lName}}</div>
    <label for="busName" *ngIf="showIfBusiness">Business Name</label>
        <div *ngIf="showIfBusiness" name="busName">{{busName}}</div>
    <label for="reg_events">Registered Events</label>
        <div name="reg_events">{{reg_events}}</div>
    <label for="cName" *ngIf="showIfBusiness">Contact Name</label>
        <div *ngIf="showIfBusiness" name="cName">{{cName}}</div>
    <label for="cPhone" *ngIf="showIfBusiness">Contact Phone</label>
        <div *ngIf="showIfBusiness" name="cPhone">{{cPhone}}</div>
    <label for="mailAddress" *ngIf="showIfBusiness">Mail Address</label>
        <div *ngIf="showIfBusiness" name="mailAddress">{{mailAddress}}</div>
    <label for="hostedEvents" *ngIf="showIfBusiness">Hosted Events</label>
        <div *ngIf="showIfBusiness" name="hostedEvents">{{hostedEvents}}</div>
</div>
