<div style="min-height:88vh;">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="form-box"><h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter Email</mat-label>
                <input matInput placeholder="email@address.com" formControlName="username" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" required>
                <mat-error>You must enter a valid email</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter Password</mat-label>
                <input matInput formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" required>
                <mat-error>You must enter a value</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
            <a routerLink="/register" class="btn btn-info" style="float: left;">Not a user? Register</a>
        </div>
    </form>
    </div>
</div>
<app-foot></app-foot>