footer,#wrapper:after {
    text-align: center;
    // height: 2vh;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    // margin-bottom: -2vh;
  }

#app{
    flex: 1;
    overflow: auto;
}