<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">

    <div class="form-group">
        <label for="username">Email</label>
        <input type="text" formcontrolname="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.username.errors }"/>
        <div *ngIf="submitted && registerForm.controls.username.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formcontrolname="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"/>
        <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="individual">Individual</label>
        <input type="checkbox" id = indivCheck (change)="unhide($event)" formcontrolname="individual" class="checkbox-inline" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.individual.errors }"/>
        <label for="business">Business</label>
        <input type="checkbox" id = busCheck (change)="unhide($event)" formcontrolname="individual" class="checkbox-inline" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.individual.errors }"/>
        <div *ngIf="submitted && registerForm.controls.individual.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.individual.errors.required">this is required</div>
        </div>
    </div>

    <div class="form-group" *ngIf="showIfIndividual">
        <label for="firstName">First Name</label>
        <input type="text" formcontrolname="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.firstName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.firstName.errors.required">firstName is required</div>
        </div>
    </div>


    <div class="form-group" *ngIf="showIfIndividual">
        <label for="lastName">Last Name</label>
        <input type="text" formcontrolname="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.lastName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.lastName.errors.required">firstName is required</div>
        </div>
    </div>


    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessName">Business Name</label>
        <input type="text" formcontrolname="businessName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessName.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessAddress">Business Address</label>
        <input type="text" formcontrolname="businessAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessAddress.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessAddress.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessAddress.errors.required">businessAddress is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="contactName">Contact Name</label>
        <input type="text" formcontrolname="contactName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.contactName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.contactName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.contactName.errors.required">contactName is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="contactPhone">Phone Number</label>
        <input type="text" formcontrolname="contactPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.contactPhone.errors }"/>
        <div *ngIf="submitted && registerForm.controls.contactPhone.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.contactPhone.errors.required">contactPhone is required</div>
        </div>
    </div>


    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            register
        </button>
    </div>
</form>
