<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group" *ngIf="hidden">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" />
        <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.email.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }" />
        <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="individual">Individual</label>
        <input type="checkbox" id = indivCheck (change)="unhide($event)" formControlName="individual" class="checkbox-inline" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.individual.errors }"/>
        <label for="business">Business</label>
        <input type="checkbox" id = busCheck (change)="unhide($event)" formControlName="individual" class="checkbox-inline" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.individual.errors }"/>
        <div *ngIf="submitted && registerForm.controls.individual.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.individual.errors.required">this is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfIndividual">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.firstName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.firstName.errors.required">firstName is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfIndividual">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.lastName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.lastName.errors.required">firstName is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessName">Business Name</label>
        <input type="text" formControlName="businessName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessName.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        Business Address
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessStreet">Street</label>
        <input type="text" formControlName="businessStreet" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessStreet.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessStreet.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessStreet.errors.required">businessStreet is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessApt">Unit/P.O. Box</label>
        <input type="text" formControlName="businessApt" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessApt.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessApt.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessApt.errors.required">businessApt is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessCity">City</label>
        <input type="text" formControlName="businessCity" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessCity.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessCity.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessCity.errors.required">businessCity is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessState">State</label>
        <input type="text" formControlName="businessState" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessState.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessState.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessState.errors.required">businessState is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessZip">Zip</label>
        <input type="text" formControlName="businessZip" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessZip.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessZip.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessZip.errors.required">businessZip is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="contactName">Contact Name</label>
        <input type="text" formControlName="contactName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.contactName.errors }"/>
        <div *ngIf="submitted && registerForm.controls.contactName.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.contactName.errors.required">contactName is required</div>
        </div>
    </div>
    <div class="form-group" *ngIf="showIfBusiness">
        <label for="businessPhone">Phone Number</label>
        <input type="text" formControlName="businessPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.businessPhone.errors }"/>
        <div *ngIf="submitted && registerForm.controls.businessPhone.errors" class="invalid-feedback">
            <div *ngIf="registerForm.controls.businessPhone.errors.required">businessPhone is required</div>
        </div>
    </div>


    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
    </div>
</form>
<mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle>