<div class="map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [scrollwheel]="null">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <div class="event" *ngFor='let event of googleMapMarkerContainer'>
            <agm-marker [latitude]="event.lat" [longitude]="event.lng" [title]="event.title" [label]="event.label"></agm-marker>
        </div>
        <agm-info-window [disableAutoPan]="true">
            Hi, this is the content of the <strong>info window</strong>
          </agm-info-window>
    </agm-map>
    <div style = "text-align: right; padding-top: 0.5%;">Lat: {{this.lat}}, Lng: {{this.lng}}</div>
</div>

