.map {
    width: 95vw;
    min-height: 50vh;
    height: 0;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 2.5%;

    agm-map {
        height: 100%;
        width: 100%;
    }
}

#title{
    font-size: 2em;
}
  .btn{
    float: right;
    vertical-align: middle;
    margin: 0 auto;
  }
  .card{
    margin-bottom: 2.5%;
  }
  i{
    width: 2em;
    text-align: center;
  }

  agm-marker[label]{
    background-color: white !important;
}
