.mapPage{
  width: 80vw;
  height: 45vh;
  margin: 0 auto;
  display: flex;
}

.map {
    width: 30vw;
    min-height: 30vh;
    height: 90vh;
    float: left;
    margin: 0 auto;
    margin-bottom: 2.5%;
    margin-right: 2.5%;

    agm-map {
        height: 100%;
        width: 100%;
    }
}

#title{
    font-size: 2em;
}
  .btn{
    float: right;
    vertical-align: middle;
    margin: 0 auto;
  }
  .card{
    margin-bottom: 2.5%;
    width: 45vw;
    height: 25vh;
  }
  i{
    width: 2em;
    text-align: center;
  }

.details{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .beforeClick{
    padding: 2.5%;
    font-size: 3em;
    margin: 0 auto;
  }
  .afterClick{
    padding: 2.5%;
    margin: 0 auto;
  }