<div *ngIf="loaded">
    <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [scrollwheel]="null">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            <div class="event" *ngFor='let event of googleMapMarkerContainer'>
                <agm-marker [latitude]="event.lat" [longitude]="event.lng" [title]="event.label" [label]="event.title" (markerClick)="showEvent(event._id)"></agm-marker>
            </div>
            <agm-info-window [disableAutoPan]="true">
                Hi, this is the content of the <strong>info window</strong>
              </agm-info-window>
        </agm-map>
        <div style = "text-align: right; padding-top: 0.5%;">Lat: {{this.lat}}, Lng: {{this.lng}}</div>
    </div>
    
    <div *ngIf="clicked">
    <div class="card" *ngFor='let card of g'>
        <div class="card-header">
            <span id="title">{{card.title}}</span>
            <span *ngIf='!card.registered && loggedIn'><button type="button" class="btn btn-primary" (click)="registerUser(card._id)">Register</button></span>
            <span *ngIf='card.registered && loggedIn'><button type="button" class="btn btn-secondary" (click)="unregisterUser(card._id)">Unregister</button></span>
        </div>
        <div class="card-body">
            <div><i class="fas fa-building"></i><span>{{card.bus_id}}</span></div>
            <div><i class="fas fa-comment-alt"></i><span>{{card.description}}</span></div>
            <div><i class="fas fa-male"></i><span>Going: {{card.registered_ind.length}}</span></div>
            <div><i class="fas fa-map-marker-alt"></i><span>{{card.event_address}}</span></div>
            <div><i class="fas fa-clock"></i><span>{{card.start_time}} - {{card.end_time}}</span></div>
        </div>
    </div>
</div>
<div *ngIf="!loaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>