<div *ngIf="eventsLoaded()">
    <h1 style="text-align: center; padding: 2.5%;">Events Near You</h1>
    <mat-tab-group (selectedTabChange)="onTabSelectChange($event)">
        <mat-tab label="Popular Events"></mat-tab>
        <mat-tab label="Near Me"></mat-tab>
        <mat-tab label="New Events"></mat-tab>
        <mat-tab label="Right Now"></mat-tab>
        <mat-tab *ngIf="loggedIn" label="My Events"></mat-tab>
      </mat-tab-group>
      
    <div class="card" *ngFor='let card of g'>
        <div class="card-header">
            <span id="title">{{card.title}}</span>
            <span *ngIf='currentBusiness(card.actual_bus_id)'><button type="button" class="btn btn-secondary" (click)="editEvent(card)" style="margin-left:1%;">Edit Event</button></span>
            <span *ngIf='!card.registered && loggedIn'><button type="button" class="btn btn-primary" (click)="registerUser(card)">Register</button></span>
            <span *ngIf='card.registered && loggedIn'><button type="button" class="btn btn-danger" (click)="unregisterUser(card)">Unregister</button></span>
            
        </div>
        <div class="card-body">
            <div><i class="fas fa-building"></i><span>{{card.bus_id}}</span></div>
            <div><i class="fas fa-comment-alt"></i><span>{{card.description}}</span></div>
            <div><i class="fas fa-male"></i><span>Going: {{card.registered_ind.length}}</span></div>
            <div><i class="fas fa-map-marker-alt"></i><span>{{card.event_address}}</span></div>
            <div><i class="fas fa-clock"></i><span>{{card.cust_str_start_time}} - {{card.cust_str_end_time}}</span></div>
            <div><i class="fas fa-clock"></i><span>{{card.inProgress}} ->><<- {{card.completed}}</span></div>
        </div>
    </div>
</div>
<div *ngIf="!eventsLoaded()">
    <div class="d-flex justify-content-center" style="font-size: 2em; padding-top: 40vh; vertical-align: middle;">Welcome to your Community Board...</div>
    <div class="d-flex justify-content-center" style="padding-top: 2vh; vertical-align: middle;">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
</div>
