<h1 style="text-align: center;">Events Near You</h1>
<div *ngIf='events_list.length>0'>
<ul>
    <li class= "event" *ngFor='let event of events_list'>
        <span id="title">{{event.title}}</span>
        <!--change below to business name later-->
        <span>{{businessName}}</span>
        <span>{{event.description}}</span>
        <span>Going: {{event.registered_ind.length}}</span>
        <span>{{event.event_address}}</span>
        <span>{{event.start_time}}</span>
        <span>{{event.end_time}}</span>
    </li>
</ul>
</div>
<div *ngIf='events_list.length==0'>No records found</div>