.entirePage{
  width: 100%;
}
.mat-tab-group{
  padding-bottom: 1%;
}

.popup{
  text-align: center;
  border: black;
}

.mat-dialog-title{
  text-align: center;
}

.loginButton{
  float:left;
  padding-left: 20%;
  padding-bottom: 1%;
}

.registerButton{
  float:right;
  padding-right: 20%;
  padding-bottom: 1%;
}
// .mat-tab-label {
//   min-width: 25px !important;
//   padding: 5px;
//   background-color: transparent;
//   color: red;
//   font-weight: 700;
// }

/* Styles for the active tab label */
// .mat-tab-label.mat-tab-label-active {
//   min-width: 25px !important;
//   padding: 5px;
//   background-color: transparent;
//   color: red;
//   font-weight: 700;
// }

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: #1D3557;
}
mat-google-maps-autocomplete {
  width: 13%;
  float: right;
  z-index: 2;
}
.radius {
  width: 12%;
  position: relative;

}
.pageTitle {
  text-align: center; 
  padding: 2.5%; 
  padding-bottom:1%;
  z-index:1;
}
.event{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
#title{
    font-size: 2em;

}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 5vh;
  }
  /* Control the left side */
  .left {
    left: 0;

  }
  /* Control the right side */
  .right {
    right: 0;

  }
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .btn{
    float: right;
    vertical-align: middle;
    margin: 0 auto;
  }
  .card{
    margin-bottom: 1%;
  }
  i{
    width: 2em;
    text-align: center;
  }