<h1 style="text-align: center; padding: 2.5%;">Events Near You</h1>

<div class="card" *ngFor='let card of g'>
    <div class="card-header">
        <span id="title">{{card.title}}</span>
        <span><button type="button" class="btn btn-primary" (click)="registerUser(card._id)">Register</button></span>
    </div>
    <div class="card-body">
        <div><i class="fas fa-building"></i><span>{{card.bus_id}}</span></div>
        <div><i class="fas fa-comment-alt"></i><span>{{card.description}}</span></div>
        <div><i class="fas fa-male"></i><span>Going: {{card.registered_ind.length}}</span></div>
        <div><i class="fas fa-map-marker-alt"></i><span>{{card.event_address}}</span></div>
        <div><i class="fas fa-clock"></i><span>{{card.start_time}} - {{card.end_time}}</span></div>
    </div>
</div>