<div style="min-height:88vh;">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <h2>Edit Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="updateInfo()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && profileForm.controls.email.errors }"/>
            <div *ngIf="submitted && profileForm.controls.email.errors" class="invalid-feedback">
                <div *ngIf="profileForm.controls.email.errors.required">Username is required</div>
            </div>
        </div>
    </form>
    <form [formGroup]="individualForm" (ngSubmit)="updateInfo()">
        <div class="form-group" *ngIf="showIfIndividual">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && individualForm.controls.firstName.errors }"/>
            <div *ngIf="submitted && individualForm.controls.firstName.errors" class="invalid-feedback">
                <div *ngIf="individualForm.controls.firstName.errors.required">firstName is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfIndividual">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && individualForm.controls.lastName.errors }"/>
            <div *ngIf="submitted && individualForm.controls.lastName.errors" class="invalid-feedback">
                <div *ngIf="individualForm.controls.lastName.errors.required">firstName is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfIndividual">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Update Profile Information
            </button>
        </div>
    </form>
    <form [formGroup]="businessForm" (ngSubmit)="updateInfo()">
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="businessName">Business Name</label>
            <input type="text" formControlName="businessName" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.businessName.errors }"/>
            <div *ngIf="submitted && businessForm.controls.businessName.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.businessName.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            Business Address
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="businessStreet">Street</label>
            <input type="text" formControlName="businessStreet" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.businessStreet.errors }"/>
            <div *ngIf="submitted && businessForm.controls.businessStreet.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.businessStreet.errors.required">businessStreet is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="businessApt">Unit/P.O. Box</label>
            <input type="text" formControlName="businessApt" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.businessApt.errors }"/>
            <div *ngIf="submitted && businessForm.controls.businessApt.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.businessApt.errors.required">businessApt is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="businessCity">City</label>
            <input type="text" formControlName="businessCity" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.businessCity.errors }"/>
            <div *ngIf="submitted && businessForm.controls.businessCity.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.businessCity.errors.required">businessCity is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="businessState">State</label>
            <input type="text" formControlName="businessState" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.businessState.errors }"/>
            <div *ngIf="submitted && businessForm.controls.businessState.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.businessState.errors.required">businessState is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="businessZip">Zip</label>
            <input type="text" formControlName="businessZip" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.businessZip.errors }"/>
            <div *ngIf="submitted && businessForm.controls.businessZip.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.businessZip.errors.required">businessZip is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="contactName">Contact Name</label>
            <input type="text" formControlName="contactName" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.contactName.errors }"/>
            <div *ngIf="submitted && businessForm.controls.contactName.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.contactName.errors.required">contactName is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <label for="businessPhone">Phone Number</label>
            <input type="text" formControlName="businessPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && businessForm.controls.businessPhone.errors }"/>
            <div *ngIf="submitted && businessForm.controls.businessPhone.errors" class="invalid-feedback">
                <div *ngIf="businessForm.controls.businessPhone.errors.required">businessPhone is required</div>
            </div>
        </div>
        <div class="form-group" *ngIf="showIfBusiness">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Update Profile Information
            </button>
        </div>
    </form>
</div>
<app-foot></app-foot>