<div style="min-height: 88vh;">
	<div class="header mt_5">
		<h1 class="ta_center h1_40 text-dark">The Short Fuses</h1>
		<h4 class="ta_center h4_18 text-gray">-- Est. 1908 --</h4>
	</div>
	<div class="body1 mt_5">
		<h5 class="ta_center text-gray">We're a supportive team of individuals, none of whom are working tirelessly to bring you the best Community experience possible.</h5>
		<div class="mt_15 rounded1 box_container border flex_wrap d_flex ta_center box-color">
			<div class="border_right box_width mb_0 box-color">
				<div class="inner_box_padding">
					<span class="h2_24 d_block text-gray">
						10 Gallons
					</span>
					<span class="h3_14 d_block text-light-gray">Coffee Consumed</span>
				</div>
			</div>
			<div class="border_right box_width mb_0 box-color">
				<div class="inner_box_padding">
					<span class="h2_24 d_block text-gray">
						Nearly 140
					</span>
					<span class="h3_14 d_block text-light-gray">Total Hours of Sleep</span>
				</div>
			</div>
			<div class="box_width mb_0 box-color">
				<div class="inner_box_padding">
					<span class="h2_24 d_block text-gray">
						Test ABC
					</span>
					<span class="h3_14 d_block text-light-gray"> Small Boi</span>
				</div>
			</div>
		</div>
		<span class="h3_14 ta_center text-light-gray d_block mt_2">* as of December 2020</span>
	</div>
</div>
<app-foot></app-foot>