<div style="min-height: 88vh;" class="helvetica">
	<div class="header mt_10 ta_center">
		<span class="h1_48 text-dark text-bold">The Short Fuses</span><span class="h1_48 text-dark">&#8482;</span>
		<h4 class="h4_18 text-gray">-- Est. 1898 --</h4>
	</div>
	<div class="body1 mt_5">
		<h5 class="ta_center text-gray">We're a supportive team of individuals, none of whom are working tirelessly to bring you the best Community experience possible.</h5>
		<div class="mt_10 rounded1 box_container border flex_wrap d_flex ta_center box-color">
			<div class="border_right box_width mb_0 box-color">
				<div class="inner_box_padding">
					<span class="h2_24 d_block text-gray">
						10 Gallons
					</span>
					<span class="h3_14 d_block text-light-gray">Coffee Consumed</span>
				</div>
			</div>
			<div class="border_right box_width mb_0 box-color">
				<div class="inner_box_padding">
					<span class="h2_24 d_block text-gray">
						Nearly 140
					</span>
					<span class="h3_14 d_block text-light-gray">Total Hours of Sleep</span>
				</div>
			</div>
			<div class="box_width mb_0 box-color">
				<div class="inner_box_padding">
					<span class="h2_24 d_block text-gray">
						A+
					</span>
					<span class="h3_14 d_block text-light-gray">Grade Received</span>
				</div>
			</div>
		</div>
		<span class="h3_14 ta_center text-light-gray d_block mt_2">* as of December 2020</span>
		<div class="mt_5 mb_5">
			<div class="line ln line-color"></div>
		</div>
		<div class="d_block ta_center">
			<span class="h2_24 text-dark mb_5">Meet the Team</span>
		</div>
		<div class="img_flex d_flex flex_wrap flex_row ta_center">
			<div class="img_container">
				<img class="img-responsive img_scale d_block" src='./assets/group_members/tim_m.jpg'>
				<span class="h4_18 text-gray d_block">Timmy Mozzarella</span>
			</div>
			<div class="img_container">
				<img class="img-responsive img_scale d_block" src='./assets/group_members/sam_d.JPG'>
				<span class="h4_18 text-gray d_block">Sam D^AmoreAmore</span>
			</div>
			<div class="img_container">
				<img class="img-responsive img_scale d_block" src='./assets/group_members/sarah_j.jpg'>
				<span class="h4_18 text-gray d_block">Shara Joice</span>
			</div>
			<div class="img_container">
				<img class="img-responsive img_scale d_block" src='./assets/group_members/mark_w.jpg'>
				<span class="h4_18 text-gray d_block">Marc Wolgout</span>
			</div>
			<div class="img_container">
				<img class="img-responsive img_scale d_block" src='./assets/group_members/bonnie_s.jpg'>
				<span class="h4_18 text-gray d_block">Bonnie Skism</span>
			</div>
			<div class="img_container">
				<img class="img-responsive img_scale d_block" [src]="imgSrc"
					(mouseover)="imgSrc = './assets/group_members/kevin_p.png'"
					(mouseout)="imgSrc = './assets/group_members/kevin_p.jpg'">
				<span class="h4_18 text-gray d_block">He's a Peach, Man</span>
			</div>
		</div>
	</div>
</div>
<app-foot></app-foot>