.text-dark {
	color: var(--color-text-primary, #24292e) !important;
}

.text-gray {
	color: var(--color-text-secondary, #586069) !important;
}

.text-light-gray {
	color: var(--color-text-terciary, #6a737d) !important;
}

.box-color {
	color: var(--color-border-primary, #e2e4e8) !important;
}

.header {
	padding-top:1vh;
}

.body1 {
	padding-top: 3vh;
	padding-right: 5vw;
	padding-left: 5vw;
	margin-left: 20vw;
	margin-right: 20vw;
}

.mt_15 {
	margin-top: 15vh;
}

.mt_5 {
	margin-top: 5vh;
}

.mt_2 {
	margin-top: 2vh
}

.rounded1 {
	border-radius: 6px !important;
}

.flex_wrap {
	flex-wrap: wrap !important;
}

.d_flex {
	display:flex;
}

.d_block {
	display:block
}

.border {
	border: 1px solid !important;
}

.border_right {
	border-right: 1px solid !important;
}

.mb_0 {
	border-bottom: 0 !important;
}

.box_width {
	width: 33.33333%;
}

.box_cotainer {
	box-sizing: border-box;
}

.inner_box_padding {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

.h1_40 {
	font-size: 40px !important;
}

.h2_24 {
	font-size: 24px !important;
}

.h3_14 {
	font-size: 14px !important;
}

.h4_18 {
	font-size: 18px !important;
}

.ta_center {
	text-align: center !important;
}